In [2]:
import numpy as np
import pandas as pd
from numpy.linalg import eig
from numpy.linalg import eigvals
from scipy.sparse.linalg import eigs
from scipy.sparse.linalg import eigsh

In [ ]:
#

economy=pd.read_excel(r'D:\Personal\University\Master\Thesis\Aggregation-Weighting\AHP for weighting indicators\Expert answers\Analysis\AHP Questionnaire1.xlsx',sheet_name='اقتصاد',usecols='L:O')
economy=economy.dropna(how='all').reset_index(drop=True)

def AHP_Economy(economy):
    eco=[]
    inve1=economy.iloc[1:4,0:3]
    inve2=economy.iloc[5:7,0:2]
    inve3=economy.iloc[8:,0:3]

    e1=inve1*0
    for i in range(len(inve1.columns)):
        e1.iloc[:,i]=inve1.iloc[:,-(i+1)]
    e1=np.array(e1,dtype=float)
    eco.append(e1)

    e2=inve2*0
    for i in range(len(inve2.columns)):
        e2.iloc[:,i]=inve2.iloc[:,-(i+1)]
    e2=np.array(e2,dtype=float)
    eco.append(e2)

    e3=inve3*0
    for i in range(len(inve3.columns)):
        e3.iloc[:,i]=inve3.iloc[:,-(i+1)]
    e3=np.array(e3,dtype=float)
    eco.append(e3)

    weight_vector=[0]*len(eco)
    max_eigenvalue=[0]*len(eco)
    temp=[0,0]
    for i in range(len(eco)):  
        if len(eco[i])<3:
            temp[0]=eco[i][0,0]
            temp[1]=eco[i][1,0]
            weight_vector[i]=np.array(temp)
            max_eigenvalue[i]=2
        else:
            max_eigenvalue[i], weight_vector[i]=eigs(eco[i],k=1,which='LM')
            weight_vector[i]=np.transpose(abs(weight_vector[i].real))[0]     
            max_eigenvalue[i]=max_eigenvalue[i][0].real
        
    return (weight_vector,max_eigenvalue)

AHP_Economy(economy)

In [86]:
## economy dimension weighting with AHP

# reading data from excel files
economy=[]
address_string=[]
for i in range(2):
    address_string.append(r'D:\Personal\University\Master\Thesis\Aggregation-Weighting\AHP for weighting indicators\Expert answers\Analysis\AHP Questionnaire'+str(i+1)+'.xlsx')
    economy.append(pd.read_excel(address_string[i],sheet_name='اقتصاد',usecols='L:O').dropna(how='all').reset_index(drop=True))

def AHP_Economy(economy):
    
    # cleaning data and correcting format problem caused by right to left layout in excel
    eco=[]
    inve_list=[]
    inve_list.append(economy.iloc[1:4,0:3])
    inve_list.append(economy.iloc[5:7,0:2])
    inve_list.append(economy.iloc[8:,0:3])

    for j in range(len(inve_list)):
        eco.append(inve_list[j]*0)
        for i in range(len(inve_list[j].columns)):
            eco[j].iloc[:,i]=inve_list[j].iloc[:,-(i+1)]
        eco[j]=np.array(eco[j],dtype=float)
    
    # calculating eigenvectors and eigenvalues of pairwise matrices'
    weight_vector=[0]*len(eco)
    max_eigenvalue=[0]*len(eco)
    temp=[0,0]
    n=[]
    for i in range(len(eco)):
        n.append(len(eco[i]))
        if len(eco[i])<3:
            temp[0]=eco[i][0,0]
            temp[1]=eco[i][1,0]
            weight_vector[i]=np.array(temp)
            max_eigenvalue[i]=2
        else:
            max_eigenvalue[i], weight_vector[i]=eigs(eco[i],k=1,which='LM')
            weight_vector[i]=np.transpose(abs(weight_vector[i].real))[0]     
            max_eigenvalue[i]=max_eigenvalue[i][0].real
        
    return (weight_vector,max_eigenvalue,n)

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14
0           EL          MI          AE         NaN
1          0.6           3           1          AE
2          0.2           1    0.333333          MI
3            1           5     1.66667          EL
4       NRWrur      NRWurb         NaN         NaN
5            5           1      NRWurb         NaN
6            1         0.2      NRWrur         NaN
7          NRW          IE        Eagr         NaN
8         0.66           2           1         NRW
9     0.333333           1         0.5          IE
10           1           3     1.51515        Eagr

In [85]:
economy[0]

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14
0           EL          MI          AE         NaN
1          0.2           5           1          AE
2     0.333333           1         0.2          MI
3            1           3           5          EL
4       NRWrur      NRWurb         NaN         NaN
5            7           1      NRWurb         NaN
6            1    0.142857      NRWrur         NaN
7          NRW          IE        Eagr         NaN
8            5           7           1         NRW
9            3           1    0.142857          IE
10           1    0.333333         0.2        Eagr